<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="pages">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand m-3" href="#"> Tender.by</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/search"> Поиск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> Тарифы</a>
                </li>
            </ul>
            <a class="btn btn-primary m-3" href="/homePage" role="button">Личный кабиент</a>
            <a class="btn btn-secondary btn-sm m-3" href="/login" role="button">Выход</a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Закупки<h3>
                </div>
                <div class="card-text">
                    <table class="table">
                        <tr>
                            <th>№</th>
                            <th>Назввание</th>
                            <th>Дата завершения</th>
                        </tr>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td>
                                <span th:text="${user.}" class="text-primary"></span>
                                <p th:if="${#fields.hasErrors('name')}">Invalid Login</p>
                            </td>
                            <td>
                                <span th:text="${user.password}" class="text-primary"></span>
                                <p th:if="${#fields.hasErrors('password')}">Invalid Password</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>